body{background-color:#444444; list-style-position: inside; text-align: center;}
a {
    color:burlywood;
}
h1 {
    color:yellowgreen;
}
#raf {
    width: 200px;
    height: 100px;
}
img {
    width: 200px;
    height: 300px;
}
.li-size {
    color: orangered;
    font-size: 20px;
}
footer {
    margin-top: 250px;
}
#content {
    font-size: 20px;
}
#icerik {
    width: 300px;
    height: 200px;
}
p {
    color: tomato;
    font-size: 20px;
    font-family: 'Kalnia', serif;
}
